body{
    margin: 0px 0px;
    padding: 0px 0px;
    background-color: #222222;
    font-family: "Agdasima", sans-serif;
}
#fejlec{
    background-image: url(./imgs/header.jpg);
    height: 650px;
    
    margin-top: 0px ;
    padding-top: 0px;
    background-position-x: -250px;
    background-position-y: -200px;
    background-position: center;
}
#fejlec h1{
    color: white;
    padding: 20px;
    text-transform: capitalize;
    letter-spacing: 3px;
    display: inline-block
}
.agdasima-regular {
    font-family: "Agdasima", sans-serif;
    font-weight: 200;
    font-style: normal;
}
  
.agdasima-bold {
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.italiana-regular {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#tortenetunk{
    background-color: #222222;
    display: flex;
    width: 100%;
    height: 300px;
}
#tortenetunk h1{
    color: white;
    margin-bottom: 5px;
}
#tortcim{
    text-align: right;
    width: 35%;
    color: white;
    padding-top: 60px;

}
#tortszoveg{
    text-align: left;
    width: 35%;
    color: white;
    margin: auto;
    padding-right: 20%;
    
}
#tortenetunk h3{
    margin-top: 0px;
    color: grey;
    display:block;
    
}
#foglalj{
    color: white;
    font-weight: bold;
}
#fejlec li{
    display:inline;
    float: right;
    color: white;
    padding: 5px; 
}
#fejlec ul{
    padding-right: 30px;
    padding-top: 35px;
    float: right;
}
a{
    text-decoration: none;
    color: white;

}
a:active{
    font-weight: bold;
}
#menu{
    background-color: #101010;
    height: 350px;
}
#menucim h1{
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-weight: normal;
    padding-top: 50px;
    margin-bottom: 5px;
}
#menu h3{
    color:grey;
    text-align: center;
    margin-top: 0px;
}
#menu p{
    color: white;
    width: 50%;
    text-align: center;
    margin: auto;
    opacity: 85%;
}
#menutart li{
    background-color: #101010;
    color: white;
    margin: auto 10px;
    border:1px solid white;
    padding: 10px 40px 10px 40px;
    list-style-type:none ;
    
}
#menutart ul{
    justify-content: center;
    display: flex;
}
#specialitas h1{
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-weight: normal;
    margin-bottom: 5px;

}
#specialitas h3{
    color:grey;
    text-align: center;
    justify-content: center;
    margin-top: 0px;
}
.nyit_tart_keret{
    background-color: #101010;
    display: flex;
    justify-content: center;
}
.nyit_tart_keret #bal{
    margin-top: 2%;
}
.nyit_tart_keret #bal p{
    line-height: 100%;
}
.nyit_tart_keret #kozep{
    margin-top: 20px;
}
.nyit_tart_keret #jobb{
    margin-top: 20px;
}
#kozep{
    width: 30%;
    margin: 0px 15px 0px 10px;
    text-align: center;
}
#kozep p {
    color:white;
    font-size: large;
    text-align: left;
    margin: auto;
    display: block;
    margin: 5px 0px 5px 0px;
    width: 300px; 
    line-height: 25px;
}
#kozep hr{
    width: 60%;
    margin: 0 40% 0 40%; 
    margin: 0 auto;
}
#nyitva{
    width: 240px;
    margin: auto;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
#hetfo p{
    width: 220px;
    margin:  auto;
    color: #d0d0d0;
}
#kedd p{
    width: 220px;
    margin: 0 auto;
    color: #d0d0d0;
}
#szerda p{
    width: 220px;
    margin: 0 auto;
    color: #d0d0d0;
}
#csutortok p{
    width: 220px;
    margin: 0 auto;
    color: #d0d0d0;
}
#pentek p{
    width: 220px;
    margin: 0 auto;
    color: #d0d0d0;
}
#szombat p{ 
    width: 220px;
    margin: 0 auto;
    color: #d0d0d0;
}
#vasarnap p{
    width: 220px;
    margin: 0 auto;
    color: #d0d0d0;
}
#vasarnap{
    margin-bottom: 50px;
}
#bal{
    width: 25%;
    color: white;
    text-align: right;
    font-size: x-large;
    text-transform: uppercase;
    
}
#jobb{
    width: 25%;
}
#jobb p{
    color: white;
    font-weight: bold;
    font-size: larger;
}
#jobb #kattide{
    color:#d0d0d0
}
#jobb a{
    font-weight: bold;
    text-decoration: underline;
}

footer{
    background-color: #101010;
    color: #d0d0d0;
    text-align: center;
    height: 130px;
}
footer hr{
    width: 80%;
    margin: auto;
    margin-top: 0px;
}
footer p{
    font-size: 22px;
    margin-top: 20px;
}

.galeria_fo{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 45px;
    grid-row-gap: 50px;
}
.galeria_fo{
    color:rgba(255, 255, 255, 0.849);
}
#galp1{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
    margin-top: 10%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
#galp2{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 6;
    text-align: center;
    margin-top: 20%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
#galp3{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 7;
    text-align: center;
    margin-top: 20%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
#galp4{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 7;
    text-align: center;
    margin-top: 25%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
#galp5{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 7;
    text-align: center;
    margin-bottom: 0;
    height: fit-content;
    margin-top: 30%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;

}

.galeria{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img1{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
}
.img2{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 6;
}
.img3{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 8;
}
.img4{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 8;
}
.img5{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 8;
}

#galp1{
    position: relative;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
}
#galp2{
    position: relative;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
}
#galp3{
    position: relative;
    top: -20px;
    left: 50%;

    transform: translate(-50%, -50%);
}
#galp4{
    position: relative;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
}
#galp5{
    position: relative;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media only screen and (max-width: 1200px) and (min-width:800px) {
    #fejlec {
      height: 500px;
      background-position-x: -100px;
      background-position-y: -50px;
      background-position: center;
    }
    #tortszoveg{
        margin-left: 20px;
        width: 50%;
        padding-right: 140px;
    }
    #tortcim{
        width: 60%;
    }
    #menuszoveg{
        margin: auto;
        text-align: center;
    }
    #menu ul{
        padding-left: 40px;
        padding-right: 40px;
    }
    #galp1{
        font-style: italic;
    }
    #galp2{
        margin-top: 15%;
        font-style: italic;
    }
    #galp3{
        margin-top: 15%;
        font-style: italic;
        
    }
    #galp4{
        font-style: italic;
    }
    #galp5{
        font-style: italic;
        margin-top: 32%;
    }
    #kozep p{
        margin-top: 5px;
    }
    #jobb{
        margin-left: 20px;
    }
    #kozep{
        margin-top: 300px;
    }
    #kozep hr{
        width: 80%;
    }

    footer hr{
        width: 600px;
        margin: auto;
        margin-top: 0px;
    }

  }
  @media only screen and (max-width: 950px) and (min-width: 800px){
    #kozep hr{
        width: 90%;
    }
    #galp5{
        margin-top: 35%;
    }

}

  @media only screen and (min-width: 700px) and (max-width: 800px){
    #galp2{
        margin-top: 10%;
    }
    #galp3{
        margin-top: 10%;
    }
    #galp5{
        margin-top: 35%;
    }
    #tortszoveg{
        padding-right: 10%;
    }
    #kozep hr{
        width: 100%;
    }
  }
@media only screen and (min-width: 600px) and (max-width: 700px){
    #galp3{
        margin-top: 0%;
    }
    #galp5{
        margin-top: 40%;
    }
    #kozep hr{
        width:100%;
    }
    footer hr{
        width: 80%;
    }
}


@media only screen and (min-width: 350px) and (max-width: 600px){
    .galeria_fo{
        display: block;
    }
    #tortcim{
        padding-top: 0px;
        text-align: right;  
        margin: 0;
        margin-left: auto;
        margin-right: 5%;
        width: max-content;
    }
    #tortszoveg{
        width: 90%;
        padding-right: 0px;
        display: block;
        font-size: larger ;
        margin: 0px 0px 0px 20px;
        text-align: center;
        text-align: justify;
    }
    #tortenetunk p{
        margin-top: 0px;
    }
    #tortenetunk{
        height: max-content;
        flex-direction: column;
    }



    #tortenetunk h1{
        text-align: right;
    }
    #tortenetunk h3{
        text-align: right;
    }
    #foglalj{
        margin: 0px 0px 0px 0px;
    }
    #menu p{
        margin: auto;
        width: 250px;

    }
    #menu{
        height: 500px;
    }
    #menu li{
        width: 100px;
        margin-top: 15px;
        text-align: center;
        display: inline-block;
    }
    #menuszoveg p{
        text-align: center;
        text-align: justify;
        margin: auto;
        width: 300px;
    }
    #menutart ul{
        text-align: center;
        display: inline-block;
        padding-left: 0px;
    }
    .img1{
        margin: 0px 5px 0px 5px;
        width: 95%;
    }
    .img2{
        margin: 0px 5px 0px 5px;
        width: 95%;
    }
    .img3{
        margin: 0px 5px 0px 5px;
        width: 95%;
    }
    .img4{
        margin: 0px 5px 0px 5px;
        width: 95%;
    }
    .img5{
        margin: 0px 5px 0px 5px;
        width: 95%;
        height: 350px;
    }
    footer hr{
        width: 90%;
    }
    .nyit_tart_keret{
        display: block;
    }
    #bal{
        width: 95%;
        padding-top: 1%;
        display: inline;
        font-size: x-large;
    }
    #kozep{
        width: 95%;
        text-align: left;
        margin-left: 1%;
    }
    #kozep p{
        margin-left: 1%;

    }
    #kozep hr{
        width: 100%;
    }
    #nyitva{
        margin-left: 1%;
    }
    #jobb{
        width: 95%;
        padding-bottom: 5%;
        padding-right: 5%;
    }
    #galp1{
        margin-top: 0%;
        top: -15px;
    }
    #galp2{
        margin-top: 0%;
    }
    #galp3{
        margin-top: 0%;
    }
    #galp4{
        margin-top: 0%;
        top: -15px;
    }
    #galp5{
        margin-top: 0%;
        top: -15px;
    }
    .nyit_tart_keret #bal p{
        padding-top: 10%;
        padding-right: 3%;
    }
    #kattide{
        padding-left: 2%;
    } 
    #jobb p{
        padding-left: 2%;
    }
    #jobb a{
        padding-left: 2%;
    }
    footer p{
        height: max-content;
        padding: 0px 5px 0px 5px;
    }
}


