body{
    margin: 0px 0px;
    padding: 0px 0px;
    background-color: #222222;
    

}
#fejlec{
    background-image: url(./imgs/header.jpg);
    height: 850px;
    margin: auto;
    margin-top: 0px ;
    padding-top: 0px;
    background-position-x: -250px;
    background-position-y: -200px;
    background-position: center;
}
h1{
    font-family: "Agdasima", sans-serif;
    color: white;
    padding: 20px;
    text-transform: capitalize;
    letter-spacing: 3px;
}
.agdasima-regular {
    font-family: "Agdasima", sans-serif;
    font-weight: 200;
    font-style: normal;
}
  
.agdasima-bold {
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
}
#tortenetunk{
    background-color: #222222;
    text-align: right;
}
#tort_tartalom{
    color: white;
    font-family: "Agdasima", sans-serif;
    width:200px;
    height:40%;
    float:right;
}
#foglalj{
    color: white;
    float: right;
}
h4{
    color: grey;
    
}

li{
    display:inline;
    float: right;
    color: white;
    padding: 5px;
    font-family: "Agdasima", sans-serif;
    
}
ul{
    padding-right: 30px;
    
}
a{
    text-decoration: none;
    color: white;
}
a:active{
    font-weight: bold;
    
}
